.night {
    color: white;
    background-color: #1c1c1c;

    & header {
        background-color: #1c1c1c;
    }
}

.day {
    color: #1c1c1c;
    background-color: white;

    & header {
        background-color: white;
    }
}
